/* CSS Normalizing reset */
* {
  margin: 0; 
  padding: 0;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
    background-color: lightblue;
    height: 2000px
}

h1 {
    margin: 50px 20px;
    margin: 50px 20px 8px 5px;
    padding: 20px;
    
}

.bi-whatsapp {
    color: green;
    font-size: 50px;
    position: fixed;
    bottom: 20px;
    right: 20px;

}

.static {
    padding: 20px;
    background-color: rgba(255, 25, 255, 0,579);
    position: static;
}

.relative{
    padding: 20px;
    background-color: rgba(255, 25, 255, 0.579);
    position: relative;
    top: 20px;
    left: 20px;
}

.absolute{
    position: absolute;
    padding: 20px;
    background-color: rgba(red, green, blue, alpha);
}